.theme-container {
  .hero{
    img {
      width: 100%;
      object-fit: cover;
      margin: 0 0 0 0;

    }
  }
  .home {
    font-family: 'Fira Sans'
    padding: 0.5rem 1rem;

  }
  .features {
    padding: 0.5rem 1rem;
  }
}
