.theme-container {
  font-family: 'Fira Sans'

  a:hover {
    color: $accentColorhover;
  } 
  .navbar {
    background-color:#333333;
    border-color: #333333;
    color: white;
  }

  .navbar .links {
    background-color:#333333;
    color: white;
    }

  .navbar a.nav-link {
    border-bottom: 0px;
    color: white;
    }

  .navbar a.nav-link .router-link-active {
    border-bottom: 0px;
    color:$accentColor;

    }

  .navbar a.nav-link .router-link-exact-active {
    border-bottom: 0px;
    color:$accentColor;

    }

  .navbar .nav-link:hover {
    color:$accentColor;
    }

  .sidebar .nav-links {
    padding: 4rem 0rem;
  }


  .hero{
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .home {
    padding: 0px;
    max-width: 100%;

    .features {
      max-width: 960px;
      margin: 0px auto;
      padding: 0.5rem 1rem;
    }
    .theme-default-content {
      max-width: 960px;
      margin: 0px auto;
      padding: 0.5rem 1rem;
    }

  }
}
 
