body {
  font-family: 'Fira Sans', sans-serif!important;
  font-weight: 400!important;
}


h1, h2, h3, h4, h5 {
  font-weight: 400!important;
}  

.floatimage {
  margin-right: 1rem;
  float: left;
  clear: left;
}



.theme-container {
  font-family: 'Fira Sans', sans-serif!important;

  a {
    color: $linkcolor;
  }
  a:hover {
    color: $accentColorhover;
  }

  strong {
    font-weight: 500;
  }

a.button{
  display:inline-block;
  padding:0.1em 0.8em;
  border:0.1em solid $accentColor;
  margin:0 0.4em 0.4em 0;
  border-radius:0.22em;
  box-sizing: border-box;
  text-decoration:none;
  color:$accentColor;
  text-align:center;
  transition: all 0.2s;
}
a.button:hover{
  color: white;
  background-color:$accentColor;
  text-decoration:none;
}
  // .navbar {
  //   background-color:#333333;
  //   border-color: #333333;
  //   color: white;
  // }

  // .navbar .links {
  //   background-color:#333333;
  //   border-color: $accentColorhover;
  //   color: white;
  //   }

  // .navbar .nav-link {
  //   color: white!important;
  //   }
  // .navbar .nav-item {
  //   border-bottom: 0px!important;
  //   }

  // .navbar .nav-item:hover {
  //   border-bottom: 4px!important;
  //   color: white!important;
  //   }

  // .navbar .router-link-active  .router-link-exact-active {
  //   color:$accentColor!important;
  //   }

  // .sidebar .nav-links {
  //   padding: 4rem 0rem;
  // }


  .hero{
    img {
      width: 100%;
      object-fit: cover;
      margin-top:0px!important;
    }
  }
  .home {
    padding: 0px;
    max-width: 100%;

    .features {
      max-width: 740px;
      margin: 0px auto;
      padding: 0.5rem 0rem;
    }
    .theme-default-content {
      max-width: 740px;
      margin: 0px auto;
      padding: 0.5rem 1rem;
    }

  }
}
 
