// colors
$accentColor = #00cc99
$textColor = #2c2c2c
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = orange
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.4
$sidebarWidth = 15rem
$contentWidth = 740px
$homePageWidth = 960px

